# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
curios-forge-1.16.5-4.0.4.0.jar
.gitignore
.gitattributes

# Files from Forge MDK
forge*changelog.txt
